# --- Комментарии начинаются с решетки ---

# --- Игнорировать папки виртуальных окружений Python ---
# (Очень важно, чтобы не хранить весь Python внутри репозитория!)
.venv/
venv/
env/

# --- Игнорировать кэш и байт-код Python ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Игнорировать папки IDE и редакторов ---
# Visual Studio Code
.vscode/
# Visual Studio (некоторые файлы)
.vs/
*.suo
*.user
# PyCharm
.idea/

# --- Игнорировать файлы операционной системы ---
# macOS
.DS_Store
# Windows
Thumbs.db

# --- Игнорировать файлы логов ---
*.log
logs/

# --- Игнорировать секреты и учетные данные ---
# (Никогда не добавляйте секреты в Git!)
.env
credentials.*
*.key
*.pem
secret_config.json

# --- Игнорировать папки сборки/установки ---
build/
dist/
downloads/
*.egg-info/

# --- Можно игнорировать конкретный файл ---
temp
QR-DLC.zip