@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Russo+One&family=Tektur:wght@400..900&display=swap');

body {
    margin: 0;
    padding: 0;
    bottom: 0;
    font-family: Inter, Arial, serif;
}

main {
    display: flex;
    height: 70vh;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.forms {
    display: flex;
    width: 50vw;
    justify-content: center;
    align-items: center;
}

.forms > hr {
    height: 350px;
}

.form-text, .form-file {
    display: flex;
    flex-direction: column;
    width: 24vw;
}

.submit {
    display: flex;
    padding: 1rem 1.5rem;
    border: 1px solid #000;
    background-color: #fff;
    font-size: 1rem;
    margin-top: 1rem;
    margin-left: auto;
}

.form-text label, .form-file label, .form-response h4 {
    font-size: 1rem;
    margin-bottom: 0.4rem;
}

.form-text textarea, .form-file input {
    font-size: 0.9rem;
    border: 1px solid #000;
    padding: 0.4rem;
}

input[type="file"]::file-selector-button {
    padding: 0.5rem 1rem;
    background: white;
    border: 1px solid black;
    cursor: pointer;
}
  
input[type="file"]::file-selector-button:hover {
    background: #f0f0f0;
}

.form-response {
    display: flex;
}

.copyDiv {
    display: flex;
    flex-direction: column;
    margin: 1rem;
}

.jsonOrigin {
    display: flex;
    flex-direction: column;
}

.form-response a {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    display: inline-block;
}

hr {
    border: 0.5px solid #000;
}

.form-response hr {
    margin: 0 1rem;
}

.download-button {
    margin-bottom: 1rem;
}

.jsonOrigin span {
    width: 500px;
    max-height: 300px;
    overflow: scroll;
    padding: 1rem;
    border: 1px solid #000;
    margin: 0;
    cursor: pointer;
}

.form-response h4 {
    margin-top: 0;
    font-weight: normal;
    text-align: left;
}

.form-response p {
    background-color: #a9ffb6;
    padding: 0.5rem;
    display: none;
}

h1 {
    font-size: 5rem;
    text-align: center;
}